In [2]:
import pandas as pd
import numpy as np
import datetime
from pyproj import Transformer

df = pd.read_csv('./riista-utf8.csv')


# Enrichment steps

# convert the location data to longitude and latitude info
# 3067 is the EPSG code used by the orignal data
# 4326 is the Standard WGS84 longitude/latitude coords
transformer = Transformer.from_crs(3067, 4326)
df['lat'], df['lon'] = np.transpose(np.array([transformer.transform(x, y) for x, y in zip(df['x'], df['y'])]))


# write the lat & long info to a file so we can use them in a seprate script to call https://sunrise-sunset.org/api
# since we need to do 60k+ API calls, it will take some time. That's why it's being done on a separate server and not
# on this Jupyter notebook
df.to_csv('coordinates.csv', columns=['tapahtumaAika', 'lat', 'lon'], header=False)

# read back the results and join with the original data set
timeData = pd.read_csv('./daylight-api-output.txt', header=None, names=['id','tapahtumaAika', 'valoisuus'])
df['valoisuus'] = timeData['valoisuus'] * -1 # Reverse the mapping codes used in the API fetcher script

In [3]:
df

,id,tapahtumaAika,vuosi,kuukausi,x,y,kunta,kuntaNimi,maakunta,maakuntaNimi,tielaji,tielajis,tieNumero,tieYllapito,tieYllapitoNimi,riistalaji,riistalajiNimi,lat,lon,valoisuus
0,1,2017-12-10T16:55:00.000+02:00,2017,12,278773.65900,6.980878e+06,743,Seinäjoki,14,Etelä-Pohjanmaa,3,Valtatie,18.0,1.0,Valtio,47507,Metsäkauris,62.890515,22.646311,3
1,2,2017-09-03T13:00:00.000+03:00,2017,9,397501.00800,7.503084e+06,261,Kittilä,19,Lappi,4,Kantatie,80.0,1.0,Valtio,47503,Hirvi,67.625279,24.586614,0
2,3,2017-09-18T07:00:00.000+03:00,2017,9,418353.84100,7.514105e+06,261,Kittilä,19,Lappi,6,Muu maantie,9552.0,1.0,Valtio,47503,Hirvi,67.730620,25.069129,0
3,4,2017-12-01T17:00:00.000+02:00,2017,12,488970.82700,6.722504e+06,285,Kotka,8,Kymenlaakso,5,Seututie,357.0,1.0,Valtio,47629,Valkohäntäpeura,60.638182,26.798369,3
4,5,2017-09-18T07:00:00.000+03:00,2017,9,418766.58000,7.506931e+06,261,Kittilä,19,Lappi,6,Muu maantie,9552.0,1.0,Valtio,47503,Hirvi,67.666425,25.084131,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63937,63938,2021-10-04T09:30:00.000+03:00,2021,10,236501.85584,6.691606e+06,445,Parainen,2,Varsinais-Suomi,5,Seututie,180.0,1.0,Valtio,47507,Metsäkauris,60.275376,22.233479,0
63938,63939,2021-09-20T19:51:48.017+03:00,2021,9,515750.42581,6.946907e+06,778,Suonenjoki,11,Pohjois-Savo,3,Valtatie,9.0,1.0,Valtio,47503,Hirvi,62.652474,27.307304,3
63939,63940,2021-05-29T06:00:00.000+03:00,2021,5,245406.95714,6.712757e+06,202,Kaarina,2,Varsinais-Suomi,4,Kantatie,40.0,1.0,Valtio,47507,Metsäkauris,60.470338,22.367095,0
63940,63941,2021-04-13T14:30:00.000+03:00,2021,4,238690.96803,6.705560e+06,853,Turku,2,Varsinais-Suomi,7,Puuttuu,NaN,99.0,Ei tietoa,47507,Metsäkauris,60.401653,22.254785,0
63941,63942,2021-06-12T14:15:00.000+03:00,2021,6,237601.43474,7.012767e+06,499,Mustasaari,15,Pohjanmaa,3,Valtatie,8.0,1.0,Valtio,47507,Metsäkauris,63.148286,21.788953,0

In [360]:
# Check the distribution of different types of game animal crashes
df[['riistalajiNimi', 'x']].groupby('riistalajiNimi').count()

                     x
riistalajiNimi
Hirvi             9192
Kuusipeura          87
Metsäkauris      22464
Metsäpeura         325
Valkohäntäpeura  31702
Villisika          168

In [355]:
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV

#model to predict what animal is the most likely to be encountered in a crash on given month and location
#drop unneeded dimensions, drop NaNs

data = df.drop(['id', 'tielaji', 'tapahtumaAika','tieNumero', 'maakuntaNimi', 'vuosi', 'tielajis','x','y','lat','lon','maakunta', 'riistalajiNimi', 'kuntaNimi', 'tieYllapito', 'tieYllapitoNimi'], axis=1)
# 
data['kuukausi'] = data['kuukausi'].astype('category')
data['valoisuus'] = data['valoisuus'].astype('category')
data['kunta'] = data['kunta'].astype('category')


data = data.dropna()

# extract the target category
target = data['riistalaji'].astype('category')
data = data.drop(['riistalaji'], axis=1)

data.info()

training_data, test_data, train_target, test_target = train_test_split(data, target, train_size=0.8)

# Since the classes are highly imbalanced, let's use random forest classifier instead of logistic regression
# With the RF we have bit more accuracy, at least
rf = RandomForestClassifier(random_state=123, n_estimators=200)

pipeline = Pipeline([('rf',rf)])

model = pipeline.fit(training_data, train_target)
predictedLr = model.predict(test_data)

print('LR  accuracy:', accuracy_score(test_target, predictedLr))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63942 entries, 0 to 63941
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   kuukausi   63942 non-null  category
 1   kunta      63942 non-null  category
 2   valoisuus  63942 non-null  category
dtypes: category(3)
memory usage: 261.0 KB
LR  accuracy: 0.6223316912972086

In [356]:
from tabulate import tabulate
import datetime

location = 'Sipoo'
kunta = df['kunta'].where(df['kuntaNimi'] == location).dropna().head(1).values[0]

output = [];
for month in range(1,13):
    monthData = []
    datetime_object = datetime.datetime.strptime(str(month), "%m")
    monthData.append(datetime_object.strftime("%b"))

    for light in range(-4,5):
        data_to_predict = pd.DataFrame({'kuukausi': [month], 'kunta': [kunta], 'valoisuus': [light]})
        p = lr.predict(data_to_predict)
        game = df['riistalajiNimi'].where(df['riistalaji'] == p[0]).dropna().head(1).values[0]
        monthData.append(game)
    output.append(monthData)

     dark             astr dawn        nautical dawn    civic dawn       daytime          civic twilight    nautical twilight    astr twilight    night
---  ---------------  ---------------  ---------------  ---------------  ---------------  ----------------  -------------------  ---------------  ---------------
Jan  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura   Hirvi                Valkohäntäpeura  Valkohäntäpeura
Feb  Valkohäntäpeura  Hirvi            Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura   Metsäkauris          Hirvi            Valkohäntäpeura
Mar  Hirvi            Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura   Metsäkauris          Metsäkauris      Valkohäntäpeura
Apr  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura   Metsäkauris          Valkohäntäpeura  Valkohäntäpeura
May  Valkohäntäpeura  Valkohäntäpeura  Hirvi            Metsäkauris      Metsäkauris      Metsäkauris       Valkohäntäpeura      Valkohäntäpeura  Valkohäntäpeura
Jun  Valkohäntäpeura  Valkohäntäpeura  Metsäkauris      Metsäkauris      Metsäkauris      Metsäkauris       Valkohäntäpeura      Valkohäntäpeura  Valkohäntäpeura
Jul  Valkohäntäpeura  Hirvi            Hirvi            Villisika        Valkohäntäpeura  Valkohäntäpeura   Metsäkauris          Valkohäntäpeura  Metsäkauris
Aug  Valkohäntäpeura  Hirvi            Metsäkauris      Hirvi            Metsäkauris      Metsäkauris       Metsäkauris          Valkohäntäpeura  Valkohäntäpeura
Sep  Valkohäntäpeura  Hirvi            Metsäkauris      Valkohäntäpeura  Hirvi            Valkohäntäpeura   Metsäkauris          Valkohäntäpeura  Hirvi
Oct  Valkohäntäpeura  Hirvi            Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura   Valkohäntäpeura      Metsäkauris      Valkohäntäpeura
Nov  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura   Valkohäntäpeura      Valkohäntäpeura  Valkohäntäpeura
Dec  Valkohäntäpeura  Metsäkauris      Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura   Valkohäntäpeura      Valkohäntäpeura  Valkohäntäpeura

In [357]:
print(tabulate(output, headers=['dark', 'astr dawn', 'nautical dawn', 'civic dawn', 'daytime','civic twilight', 'nautical twilight','astr twilight', 'night']))

     dark             astr dawn        nautical dawn    civic dawn       daytime          civic twilight    nautical twilight    astr twilight    night
---  ---------------  ---------------  ---------------  ---------------  ---------------  ----------------  -------------------  ---------------  ---------------
Jan  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura   Hirvi                Valkohäntäpeura  Valkohäntäpeura
Feb  Valkohäntäpeura  Hirvi            Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura   Metsäkauris          Hirvi            Valkohäntäpeura
Mar  Hirvi            Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura   Metsäkauris          Metsäkauris      Valkohäntäpeura
Apr  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura   Metsäkauris          Valkohäntäpeura  Valkohäntäpeura
May  Valkohäntäpeura  Valkohäntäpeura  Hirvi            Metsäkauris      Metsäkauris      Metsäkauris       Valkohäntäpeura      Valkohäntäpeura  Valkohäntäpeura
Jun  Valkohäntäpeura  Valkohäntäpeura  Metsäkauris      Metsäkauris      Metsäkauris      Metsäkauris       Valkohäntäpeura      Valkohäntäpeura  Valkohäntäpeura
Jul  Valkohäntäpeura  Hirvi            Hirvi            Villisika        Valkohäntäpeura  Valkohäntäpeura   Metsäkauris          Valkohäntäpeura  Metsäkauris
Aug  Valkohäntäpeura  Hirvi            Metsäkauris      Hirvi            Metsäkauris      Metsäkauris       Metsäkauris          Valkohäntäpeura  Valkohäntäpeura
Sep  Valkohäntäpeura  Hirvi            Metsäkauris      Valkohäntäpeura  Hirvi            Valkohäntäpeura   Metsäkauris          Valkohäntäpeura  Hirvi
Oct  Valkohäntäpeura  Hirvi            Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura   Valkohäntäpeura      Metsäkauris      Valkohäntäpeura
Nov  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura   Valkohäntäpeura      Valkohäntäpeura  Valkohäntäpeura
Dec  Valkohäntäpeura  Metsäkauris      Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura  Valkohäntäpeura   Valkohäntäpeura      Valkohäntäpeura  Valkohäntäpeura